.collections {
  display: flex;
  flex-direction: column;
  margin: 85px 0 0;
  padding: 0 60px 30px;
}

.collections.overlap {
  position: relative;
  margin-top: -10vh;
  z-index: 1;
}

.collection {
  margin-top: 60px;
}

.collection:first-child,
.collection:first-of-type {
  margin-top: 0;
}

.collection-title {
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right, yellow, red, purple);
  background-clip: text;
  -webkit-background-clip: text; /* For Chrome and Safari */
  color: transparent; /* Make the text itself transparent so the gradient shows */
}

.collection-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0; /* Adjusted to remove the side padding */
  overflow: hidden; /* Ensure arrows stay outside the scrollable area */
}

.collection-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  min-width: 100%;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  overflow-x: auto; /* Allow horizontal scrolling only for the card content */
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.collection-cards::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
}

.collection-cards .media-card {
  min-width: calc(16.67% - 13px);
  max-width: calc(16.67% - 13px);
}

@media (max-width: 1200px) {
  .collection-cards .media-card {
    min-width: calc(20% - 13px);
    max-width: calc(20% - 13px);
  }
}

@media (max-width: 1000px) {
  .collections {
    padding: 0 40px 30px;
  }

  .collection-slider {
    margin: 15px -40px 0;
    padding: 0 40px;
  }

  .collection-cards .media-card {
    min-width: calc(25% - 13px);
    max-width: calc(25% - 13px);
  }
}

@media (max-width: 700px) {
  .collections {
    padding: 0 30px 30px;
  }

  .collection-slider {
    margin: 15px -30px 0;
    padding: 0 30px;
  }

  .collection-cards .media-card {
    min-width: calc(33.33% - 13px);
    max-width: calc(33.33% - 13px);
  }
}

@media (max-width: 500px) {
  .collection-cards .media-card {
    min-width: calc(50% - 13px);
    max-width: calc(50% - 13px);
  }
}

/* Arrow Styling */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow for better visibility */
}

.left-arrow {
  left: 0;
  margin-left: 10px;
}

.right-arrow {
  right: 0;
  margin-right: 10px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darken the arrow on hover */
}
